*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
hs_err_pid10432.log
hs_err_pid13136.log
hs_err_pid16380.log
hs_err_pid2304.log
hs_err_pid6960.log
hs_err_pid9068.log
hs_err_pid14816.log
hs_err_pid4536.log
hs_err_pid15140.log
hs_err_pid5720.log
hs_err_pid5632.log
hs_err_pid7808.log
hs_err_pid8932.log
hs_err_pid5632.log
hs_err_pid9628.log
replay_pid10432.log
hs_err_pid5632.log
hs_err_pid5632.log
replay_pid14816.log
replay_pid6960.log
replay_pid9068.log
replay_pid2304.log
hs_err_pid5632.log
